p {
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
.list-container {
  width: 100%;
  background: rgb(233, 233, 233);
}
.footer {
  position: fixed;
  bottom: 0;

  width: 100%;
  background: #293241;
  display: flex;
  color: white;
  align-items: center;
  padding: 10px 10px;
}

#submit {
  margin-left: auto;
  font-weight: bold;

  font-size: 1.1rem;
}

.footer > input {
  height: 35px;
}

.banner {
  width: 100%;
  color: white;
  background: #ff8161;
  font-size: 1.5rem;
  padding-left: 20px;
}
#search {
  padding: 10px;
  width: 100%;
  background: #293241;
}
#search > input {
  width: 100%;
  background: none;
  border: none;
  border-bottom: rgba(128, 128, 128, 0.801);
  color: white;
}
#search > ::placeholder {
  color: rgba(255, 255, 255, 0.712);
}
.footer > input {
  width: auto;
}
#priority {
  width: 60px;
}
#project,
#context,
#poc,
#sprint {
  width: 100px;
}
#todotext {
  width: 100%;
  min-width: 100px;
}
.add-control {
  color: white;
  margin: 0 5px;
  background: rgba(0, 0, 0, 0.432);
  padding: 10px;
  border-radius: 4px;
}
.add-control:hover {
  cursor: pointer;
  background: black;
}
::-webkit-scrollbar {
  display: none;
}
.check {
  margin-right: 20px;
}
.list-item {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.473);
  font-size: 1rem;
  padding: 10px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.list-item:hover {
  background: rgb(189, 189, 189);
}
.del-item {
  margin-right: 20px;
  margin-left: auto;
  text-decoration: none !important;
  font-size: 1rem;
  visibility: hidden;
}
#tooltip {
  background: #293241;
  color: white;
  padding: 0.5em;
  border-radius: 4px;
  position: fixed;
  display: none;
}
.edit-item {
  visibility: none;
  margin-left: auto;
  text-decoration: none !important;
}
